@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

:root {
    --font-montse: "Montserrat", sans-serif;
}

/* General Styles */
@layer base {
    body{
        font-family: var(--font-montse);
    }
}

/* Utilities */
@layer utilities{
    .font-montse {
        font-family: var(--font-montse);
    }
}